---
- name: Wait for machine to be ready for connections
  gather_facts: false
  hosts: "{{ new_instance_name | default('all') }}"

  vars_files:
    - ../vars.yaml

  module_defaults:
    group/ansible.controller.controller:
      controller_host: "{{ aap_hostname }}"
      controller_username: "{{ aap_username }}"
      controller_password: "{{ aap_password }}"

  tasks:
    - name: Set connection port and job template based on OS type # noqa: run-once[task]
      ansible.builtin.set_fact:
        connection_port: "{{ (os_type == 'Linux') | ternary(22, 5986) }}"
        job_template: "{{ (os_type == 'Linux') | ternary('Linux Management - Ping Test', 'Windows Management - Ping Test') }}"
        # job_template: "{{ (os_type == 'Linux') | ternary('Linux Preparation Workflow', 'Windows Preparation Workflow') }}"
      vars:
        os_type: "{{ hostvars[new_instance_name]['tags']['OsType'] }}"

    - name: Wait for machine to be ready for connections # noqa: run-once[task]
      ansible.builtin.wait_for:
        host: "{{ hostvars[new_instance_name]['ansible_host'] }}"
        port: "{{ connection_port }}"
        delay: 10
        timeout: 300
        state: started
      delegate_to: localhost
    
    - name: Launch ping test job
      ansible.controller.job_launch:
        name: "{{ job_template }}"
        limit: "{{ new_instance_name }}"
        wait: true
        organization: "Default"
      delegate_to: localhost

    # - name: Launch ping test job
    #   ansible.controller.workflow_launch:
    #     name: "{{ job_template }}"
    #     limit: "{{ new_instance_name }}"
    #     wait: true
    #     organization: "Default"
    #   delegate_to: localhost