---
- name: Clone Repo, Modify File, Commit, Push, and Create PR - Part 1
  hosts: localhost
  gather_facts: false
  vars_files:
    - shared-vars.yaml
    - vm-pull-request-vars.yaml
    - ../ami-mapping.yaml

  tasks:
    # Include shared setup tasks
    - name: Include shared setup tasks
      ansible.builtin.include_tasks: tasks/shared-setup-tasks.yaml
      tags: [always, clone, git_config, branch]

    - name: Set a default instance name if not provided
      ansible.builtin.set_fact:
        final_instance_name: "{{ (instance_name | default('') | length > 0)
          | ternary(instance_name, lookup('community.general.random_pet', words=2, separator='_')) }}"
      tags: [generate_name]

    - name: Convert AMI name to AMI ID and get AMI info
      ansible.builtin.set_fact:
        selected_ami: "{{ ami_mappings | selectattr('name', 'equalto', vm_ami | default('Red Hat Enterprise Linux 9')) | first }}"
      tags: [ami_conversion]

    - name: Set fact for AWS region
      ansible.builtin.set_fact:
        aws_region: "{{ aws_region | default('eu-central-1') }}"
      tags: [aws_region]

    - name: Build AMI info dictionary
      ansible.builtin.set_fact:
        ami_info:
          name: "{{ selected_ami.name }}"
          osType: "{{ selected_ami.osType }}"
          ami_id: "{{ selected_ami.regions[aws_region] }}"
      tags: [ami_conversion]

    - name: Add new EC2 instance block to instances.tf
      ansible.builtin.blockinfile:
        path: "{{ clone_dest }}/{{ file_to_modify }}"
        marker: "# {mark} ANSIBLE MANAGED BLOCK - {{ final_instance_name }}"
        insertafter: EOF
        block: "{{ lookup('ansible.builtin.template', 'templates/vm-instance.tf.j2') }}"
      tags: [modify_file]

    # Include shared Git workflow tasks (commit, push, PR creation, cleanup)
    - name: Include shared Git workflow tasks
      ansible.builtin.include_tasks: tasks/shared-git-tasks.yaml
      vars:
        changes_made: true
      tags: [commit, push, pull_request, cleanup]

    - name: Set new instance name fact
      ansible.builtin.set_fact:
        new_instance_name: "aws_instance_{{ final_instance_name }}_vm"
      tags: [set_new_instance_name]

    - name: Set stats for workflow - Pass variables to Part 2
      ansible.builtin.set_stats:
        data:
          pr_creation: "{{ pr_creation }}"
          req_id: "{{ req_id }}"
          new_instance_name: "{{ new_instance_name }}"
        per_host: false
        aggregate: false
      when: pr_creation is defined
      tags: [workflow_stats]
