---
- name: Create VM Pull Request - Create PR Job Template
  ansible.controller.job_template:
    name: "VM Pull Request - Create PR"
    job_type: "run"
    inventory: "Localhost"
    project: "{{ project_name }}"
    playbook: "ansible/terraform-gitops/vm-create-pr.yaml"
    execution_environment: "{{ execution_environment_name }}"
    organization: "{{ default_organization }}"
    credentials:
      - "github-token"
    survey_enabled: true
    survey_spec:
      name: "VM Pull Request Parameters"
      description: "Parameters for creating VM pull request"
      spec:
        - question_name: "VM AMI"
          question_description: "Operating System for the VM"
          required: true
          type: "multiplechoice"
          variable: "vm_ami"
          choices: "{{ ami_choices }}"
          default: "{{ ami_default }}"
        - question_name: "VM Size"
          question_description: "Size of the VM instance"
          required: true
          type: "multiplechoice"
          variable: "vm_size"
          choices:
            - "t2.micro"
            - "t2.small"
            - "t2.medium"
            - "t2.large"
            - "t2.xlarge"
            - "t3.micro"
            - "t3.small"
            - "t3.medium"
            - "t3.large"
            - "t3.xlarge"
            - "t3.2xlarge"
            - "m5.large"
            - "m5.xlarge"
            - "m5.2xlarge"
            - "m5.4xlarge"
            - "c5.large"
            - "c5.xlarge"
            - "c5.2xlarge"
            - "c5.4xlarge"
          default: "t2.micro"
        - question_name: "AWS Region"
          question_description: "AWS Region for the VM"
          required: true
          type: "multiplechoice"
          variable: "aws_region"
          choices: "{{ region_choices }}"
          default: "{{ region_default }}"
        - question_name: "Instance Name"
          question_description: "Name of the VM instance (optional - will generate random name if empty)"
          required: false
          type: "text"
          variable: "instance_name"
          default: ""
        - question_name: "Request ID"
          question_description: "Unique identifier for this request"
          required: true
          type: "text"
          variable: "req_id"

- name: Create VM Pull Request - Merge PR Job Template
  ansible.controller.job_template:
    name: "VM Pull Request - Merge PR"
    job_type: "run"
    inventory: "Localhost"
    project: "{{ project_name }}"
    playbook: "ansible/terraform-gitops/vm-merge-pr.yaml"
    execution_environment: "{{ execution_environment_name }}"
    organization: "{{ default_organization }}"
    credentials:
      - "github-token"
    ask_variables_on_launch: true

- name: HCP Terraform - Get Run Infos Job Template
  ansible.controller.job_template:
    name: "HCP Terraform - Get Run Infos"
    job_type: "run"
    inventory: "Localhost"
    project: "{{ project_name }}"
    playbook: "ansible/hcp-terraform/get-run-infos.yaml"
    execution_environment: "{{ execution_environment_name }}"
    organization: "{{ default_organization }}"
    credentials:
      - "terraform-cloud-token"
    ask_variables_on_launch: true

- name: VM Resize Pull Request - Create PR Job Template
  ansible.controller.job_template:
    name: "VM Resize Pull Request - Create PR"
    job_type: "run"
    inventory: "Localhost"
    project: "{{ project_name }}"
    playbook: "ansible/terraform-gitops/vm-resize-pr.yaml"
    execution_environment: "{{ execution_environment_name }}"
    organization: "{{ default_organization }}"
    credentials:
      - "github-token"
    survey_enabled: true
    survey_spec:
      name: "VM Resize Parameters"
      description: "Parameters for resizing VM instance type"
      spec:
        - question_name: "Instance Name to Resize"
          question_description: "Name of the VM instance to resize (must match existing instance)"
          required: true
          type: "text"
          variable: "instance_name_to_resize"
        - question_name: "New Instance Type"
          question_description: "New instance type for the VM"
          required: true
          type: "multiplechoice"
          variable: "new_instance_type"
          choices:
            - "t2.micro"
            - "t2.small"
            - "t2.medium"
            - "t2.large"
            - "t2.xlarge"
            - "t3.micro"
            - "t3.small"
            - "t3.medium"
            - "t3.large"
            - "t3.xlarge"
            - "t3.2xlarge"
            - "m5.large"
            - "m5.xlarge"
            - "m5.2xlarge"
            - "m5.4xlarge"
            - "c5.large"
            - "c5.xlarge"
            - "c5.2xlarge"
            - "c5.4xlarge"
          default: "t3.medium"
        - question_name: "Request ID"
          question_description: "Unique identifier for this request"
          required: true
          type: "text"
          variable: "req_id"

- name: VM Resize Pull Request - Merge PR Job Template
  ansible.controller.job_template:
    name: "VM Resize Pull Request - Merge PR"
    job_type: "run"
    inventory: "Localhost"
    project: "{{ project_name }}"
    playbook: "ansible/terraform-gitops/vm-resize-merge-pr.yaml"
    execution_environment: "{{ execution_environment_name }}"
    organization: "{{ default_organization }}"
    credentials:
      - "github-token"
    ask_variables_on_launch: true

- name: VM Remove Pull Request - Create PR Job Template
  ansible.controller.job_template:
    name: "VM Remove Pull Request - Create PR"
    job_type: "run"
    inventory: "Localhost"
    project: "{{ project_name }}"
    playbook: "ansible/terraform-gitops/vm-remove-pr.yaml"
    execution_environment: "{{ execution_environment_name }}"
    organization: "{{ default_organization }}"
    credentials:
      - "github-token"
    survey_enabled: true
    survey_spec:
      name: "VM Remove Parameters"
      description: "Parameters for removing VM instance"
      spec:
        - question_name: "Instance Name to Remove"
          question_description: "Name of the VM instance to remove (must match existing instance)"
          required: true
          type: "text"
          variable: "instance_name_to_remove"
        - question_name: "Request ID"
          question_description: "Unique identifier for this request"
          required: true
          type: "text"
          variable: "req_id"

- name: VM Remove Pull Request - Merge PR Job Template
  ansible.controller.job_template:
    name: "VM Remove Pull Request - Merge PR"
    job_type: "run"
    inventory: "Localhost"
    project: "{{ project_name }}"
    playbook: "ansible/terraform-gitops/vm-remove-merge-pr.yaml"
    execution_environment: "{{ execution_environment_name }}"
    organization: "{{ default_organization }}"
    credentials:
      - "github-token"
    ask_variables_on_launch: true

- name: VM Prepare Machine Job Template
  ansible.controller.job_template:
    name: "VM Prepare Machine"
    job_type: "run"
    inventory: "Terraform HCP VMs"
    project: "{{ project_name }}"
    playbook: "ansible/terraform-gitops/vm-prepare-machine.yaml"
    execution_environment: "{{ execution_environment_name }}"
    organization: "{{ default_organization }}"
    credentials:
      - "ansible-vault-password"
    survey_enabled: true
    survey_spec:
      name: "VM Prepare Machine Parameters"
      description: "Parameters for preparing VM machine configuration"
      spec:
        - question_name: "Instance Name"
          question_description: "Name of the VM instance to prepare"
          required: false
          type: "text"
          variable: "new_instance_name"
