---
- name: Check if ansible-vault-password credential exists
  ansible.controller.credential:
    credential_type: "Vault"
    name: "ansible-vault-password"
    organization: "{{ default_organization }}"
  register: vault_credential_check
  ignore_errors: true

- name: Read vault password from file
  ansible.builtin.slurp:
    src: "{{ playbook_dir }}/../../ansible_vault_pass"
  register: vault_password_file
  delegate_to: localhost
  when: vault_credential_check is failed

- name: Create Ansible Vault Credential
  ansible.controller.credential:
    name: "ansible-vault-password"
    credential_type: "Vault"
    organization: "{{ default_organization }}"
    inputs:
      vault_password: "{{ vault_password_file.content | b64decode | trim }}"
  when: vault_credential_check is failed
