---
- name: Check if AWS Credentials exist
  ansible.controller.credential:
    name: "aws-credentials"
    credential_type: "AWS Environment Variables"
    organization: "{{ default_organization }}"
    state: present
  register: aws_credential_check
  ignore_errors: true
  check_mode: true

- name: Create AWS Credentials
  ansible.controller.credential:
    name: "aws-credentials"
    credential_type: "AWS Environment Variables"
    organization: "{{ default_organization }}"
    inputs:
      aws_access_key: "{{ aws_access_key }}"
      aws_secret_key: "{{ aws_secret_key }}"
  when: aws_credential_check is changed or force_update_credentials | default(false)

- name: Check if Terraform Cloud Token Credential exists
  ansible.controller.credential:
    name: "terraform-cloud-token"
    credential_type: "Terraform Cloud Token"
    organization: "{{ default_organization }}"
    state: present
  register: terraform_credential_check
  ignore_errors: true
  check_mode: true

- name: Create Terraform Cloud Token Credential
  ansible.controller.credential:
    name: "terraform-cloud-token"
    credential_type: "Terraform Cloud Token"
    organization: "{{ default_organization }}"
    inputs:
      terraform_token: "{{ terraform_token }}"
  when: terraform_credential_check is changed or force_update_credentials | default(false)

- name: Check if GitHub Token Credential exists
  ansible.controller.credential:
    name: "github-token"
    credential_type: "GitHub Token"
    organization: "{{ default_organization }}"
    state: present
  register: github_credential_check
  ignore_errors: true
  check_mode: true

- name: Create GitHub Token Credential
  ansible.controller.credential:
    name: "github-token"
    credential_type: "GitHub Token"
    organization: "{{ default_organization }}"
    inputs:
      github_token: "{{ github_token }}"
  when: github_credential_check is changed or force_update_credentials | default(false)

- name: Check if Terraform Backend Configuration Credential exists
  ansible.controller.credential:
    name: "terraform-backend-config"
    credential_type: "Terraform backend configuration"
    organization: "{{ default_organization }}"
    state: present
  register: terraform_backend_credential_check
  ignore_errors: true
  check_mode: true

- name: Create Terraform Backend Configuration Credential
  ansible.controller.credential:
    name: "terraform-backend-config"
    credential_type: "Terraform backend configuration"
    organization: "{{ default_organization }}"
    inputs:
      configuration: |
        hostname = "app.terraform.io"
        organization = "lennart-org"
        workspaces {
          name = "ansible-hcp-demo-ec2-vms"
        }
        token = "{{ terraform_token }}"
  when: terraform_backend_credential_check is changed or force_update_credentials | default(false)

- name: Check if GitHub Webhook Token Credential exists
  ansible.controller.credential:
    name: "github-webhook-token"
    credential_type: "GitHub Personal Access Token"
    organization: "{{ default_organization }}"
    state: present
  register: github_webhook_credential_check
  ignore_errors: true
  check_mode: true

- name: Create GitHub Webhook Token Credential
  ansible.controller.credential:
    name: "github-webhook-token"
    credential_type: "GitHub Personal Access Token"
    organization: "{{ default_organization }}"
    inputs:
      token: "{{ github_token }}"
  when: github_webhook_credential_check is changed or force_update_credentials | default(false)

- name: Check if SSH Machine Credential exists
  ansible.controller.credential:
    name: "ssh-machine-credential"
    credential_type: "Machine"
    organization: "{{ default_organization }}"
    state: present
  register: ssh_machine_credential_check
  ignore_errors: true
  check_mode: true

- name: Create SSH Machine Credential
  ansible.controller.credential:
    name: "ssh-machine-credential"
    credential_type: "Machine"
    organization: "{{ default_organization }}"
    inputs:
      ssh_key_data: "{{ ssh_private_key }}"
      ssh_public_key_data: "{{ ssh_public_key }}"
      username: "ansible"
  when: ssh_machine_credential_check is changed or force_update_credentials | default(false)

- name: Check if Windows Administrator Credential exists
  ansible.controller.credential:
    name: "windows-admin-credential"
    credential_type: "WinRM Certificate"
    organization: "{{ default_organization }}"
    state: present
  register: windows_admin_credential_check
  ignore_errors: true
  check_mode: true

- name: Create Windows Administrator Credential
  ansible.controller.credential:
    name: "windows-admin-credential"
    credential_type: "WinRM Certificate"
    organization: "{{ default_organization }}"
    inputs:
      username: ansible-aap-user
      winrm_cert_pem: "{{ aap_winrm_client_certificate_crt }}"
      winrm_cert_key_pem: "{{ aap_winrm_client_certificate_key }}"
  when: windows_admin_credential_check is changed or force_update_credentials | default(false)
