---
- name: Windows Administrator Password Management
  hosts: all
  gather_facts: false
  vars:
    ansible_winrm_server_cert_validation: ignore

  tasks:
    - name: Validate that windows_admin_password variable is defined
      ansible.builtin.fail:
        msg: "The variable 'windows_admin_password' must be defined to set the Administrator password"
      when: windows_admin_password is not defined or windows_admin_password == ""

    - name: Set Administrator password
      ansible.windows.win_user:
        name: Administrator
        password: "{{ windows_admin_password }}"
        update_password: always
        password_never_expires: true
        user_cannot_change_password: false
      register: password_result

    - name: Display password change result
      ansible.builtin.debug:
        msg: "Administrator password has been successfully updated"
      when: password_result.changed # noqa: no-handler

    - name: Verify Administrator account status
      ansible.windows.win_user:
        name: Administrator
        state: query
      register: admin_status

    - name: Display Administrator account information
      ansible.builtin.debug:
        msg: |
          Administrator Account Status:
          - Account Name: {{ admin_status.name }}
          - Account Enabled: {{ admin_status.account_disabled | ternary('No', 'Yes') }}
          - Password Never Expires: {{ admin_status.password_never_expires }}
          - User Cannot Change Password: {{ admin_status.user_cannot_change_password }}
