apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: demo-gitops-base-configs
  namespace: openshift-gitops
spec:
  project: default
  source:
    repoURL: https://github.com/KevinLapagna/demo-gitops-base.git
    targetRevision: main
    path: configs
    directory:
      recurse: true
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      enabled: false