---
controller_credential_types:
  - name: "AWS Environment Variables"
    description: "Custom credential type for AWS environment variables"
    kind: "cloud"
    inputs:
      fields:
        - id: "aws_access_key"
          type: "string"
          label: "AWS Access Key"
          secret: true
        - id: "aws_secret_key"
          type: "string"
          label: "AWS Secret Key"
          secret: true
      required:
        - "aws_access_key"
        - "aws_secret_key"
    injectors:
      extra_vars:
        aws_access_key: "{{ '{{ aws_access_key }}' }}"
        aws_secret_key: "{{ '{{ aws_secret_key }}' }}"

  - name: "Terraform Cloud Token"
    description: "Custom credential type for Terraform Cloud token"
    kind: "cloud"
    inputs:
      fields:
        - id: "terraform_token"
          type: "string"
          label: "Terraform Cloud Token"
          secret: true
      required:
        - "terraform_token"
    injectors:
      extra_vars:
        terraform_token: "{{ '{{ terraform_token }}' }}"

  - name: "GitHub Token"
    description: "Custom credential type for GitHub token"
    kind: "cloud"
    inputs:
      fields:
        - id: "github_token"
          type: "string"
          label: "GitHub Personal Access Token"
          secret: true
      required:
        - "github_token"
    injectors:
      extra_vars:
        github_token: "{{ '{{ github_token }}' }}"

  - name: "WinRM Certificate"
    description: "Custom credential type for WinRM certificate authentication"
    kind: "net"
    inputs:
      fields:
        - id: "winrm_cert_pem"
          type: "string"
          label: "WinRM Client Certificate"
          multiline: true
        - id: "winrm_cert_key_pem"
          type: "string"
          label: "WinRM Client Certificate Private Key"
          secret: true
          multiline: true
        - id: "username"
          type: "string"
          label: "Username"
      required:
        - "winrm_cert_pem"
        - "winrm_cert_key_pem"
        - "username"
    injectors:
      file:
        template.certificate: !unsafe "{{ '{{ winrm_cert_pem }}' }}"
        template.private_key: !unsafe "{{ '{{ winrm_cert_key_pem }}' }}"
      extra_vars:
        ansible_winrm_cert_pem: !unsafe "{{ '{{ tower.filename.certificate }}' }}"
        ansible_winrm_cert_key_pem: !unsafe "{{ '{{ tower.filename.private_key }}' }}"
        ansible_user: !unsafe "{{ '{{ username }}' }}"
        ansible_connection: winrm
        ansible_winrm_transport: certificate
        ansible_port: "5986"
        ansible_winrm_scheme: https
