---
controller_credentials:
  - name: "aws-credentials"
    state: "{{ state | default('present') }}"
    credential_type: "AWS Environment Variables"
    organization: "{{ default_organization }}"
    inputs:
      aws_access_key: "{{ aws_access_key }}"
      aws_secret_key: "{{ aws_secret_key }}"

  - name: "terraform-cloud-token"
    state: "{{ state | default('present') }}"
    credential_type: "Terraform Cloud Token"
    organization: "{{ default_organization }}"
    inputs:
      terraform_token: "{{ terraform_token }}"

  - name: "github-token"
    state: "{{ state | default('present') }}"
    credential_type: "GitHub Token"
    organization: "{{ default_organization }}"
    inputs:
      github_token: "{{ github_token }}"

  - name: "terraform-backend-config"
    state: "{{ state | default('present') }}"
    credential_type: "Terraform backend configuration"
    organization: "{{ default_organization }}"
    inputs:
      configuration: |
        hostname = "app.terraform.io"
        organization = "lennart-org"
        workspaces {
          name = "ansible-hcp-demo-ec2-vms"
        }
        token = "{{ terraform_token }}"

  - name: "github-webhook-token"
    state: "{{ state | default('present') }}"
    credential_type: "GitHub Personal Access Token"
    organization: "{{ default_organization }}"
    inputs:
      token: "{{ github_token }}"

  - name: "ssh-machine-credential"
    state: "{{ state | default('present') }}"
    credential_type: "Machine"
    organization: "{{ default_organization }}"
    inputs:
      ssh_key_data: "{{ ssh_private_key }}"
      ssh_public_key_data: "{{ ssh_public_key }}"
      username: "ansible"

  - name: "windows-admin-credential"
    state: "{{ state | default('present') }}"
    credential_type: "WinRM Certificate"
    organization: "{{ default_organization }}"
    inputs:
      username: ansible-aap-user
      winrm_cert_pem: "{{ aap_winrm_client_certificate_crt }}"
      winrm_cert_key_pem: "{{ aap_winrm_client_certificate_key }}"

  - name: "ansible-vault-password"
    state: "{{ state | default('present') }}"
    credential_type: "Vault"
    organization: "{{ default_organization }}"
    inputs:
      # Assuming the vault password file is 2 levels up from playbook dir or handled via var
      vault_password: "{{ lookup('file', '../../ansible_vault_pass') | default(lookup('env', 'ANSIBLE_VAULT_PASSWORD')) }}"
